* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-family: sans-serif;
  }

body {
    background: #625d5d;
    height: 100%;
    cursor: pointer;
    font-family: sans-serif;
}

form{
    margin: 3% 20% 20% 30%;
}

.editar{ 
    height: 50px;
    width: 200px;
    border-radius: 12px;
    color: aqua;
    background-color: rgba(163, 46, 69, 0.616);
    cursor: pointer;
    margin-left: 0%;
}

h3{
    font-size: 30px;
}

input{
    background-color: antiquewhite;
    box-shadow: none;
    margin-left: 20%;
}

div p{
    margin-left: 24%;
}